#box1{
    width: 150px;
    height: 250px;
    transform: translate(120px, 50%);
}
.box1{
    background-color: gold;
}

#box2{
    width: 150px;
    height: 250px;
    transform: translate(800px, 0%);
}
.box2{
    background-color:blue;
}


#box3{
    width: 150px;
    height: 250px;
    transform: translate(120px, 50%);
}
.box3{
    background-color: green;
}


#box4{
    width: 150px;
    height: 250px;
    transform: translate(120px, 50%);
}
.box4{
    background-color: red;
}